html {
  background-color: #7ECCFF;
  overflow-x: hidden;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0px;
  margin-right: 0%;
  padding: none;
  margin: none;
  scroll-behavior: smooth;
}

body {
background-image: url('/Images/background.png');
background-size: 100vw;
background-repeat: repeat-y;
padding-left: 0%;
margin-left: 0%;
padding-right: 0%;
margin-right: 0%;
margin-bottom: 0%;
padding-bottom: 0%;
}

header {
  border-bottom:#3F72AF;
  border-radius: 1px;
}

.header_logo {
text-align: center;
float: left;
margin-top: 2vh;
display: none;
}

.paper_links {
font-size: 30px;
color: #7ECCFF;
padding-top: 1vw;
padding-bottom: 1vw;
border-radius: 25px;
background-color: white;
width: 30vw;
text-align: center;
display: block;
float: left;
}

.paper_links_2 {
font-size: 30px;
color: #7ECCFF;
padding-top: 1vw;
padding-bottom: 1vw;
border-radius: 25px;
background-color: white;
width: 30vw;
display: block;
text-align: center;
float: right;
}

.icons {
  display: block;
  float: left;
}

/* Welcome MHC */

.welcome_mhc {
  margin-top: 5vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-left: 5%;
  margin-right: 5vw;
  border-radius: 25px;
  column-count: 2;
  background-color: #7ECCFF;
  border-radius: 50px;
  margin-bottom: none;
  border-color: white;
  border-style: solid;
  border-width: 20px;
  display: block;
  overflow: hidden;
  height: 65vh;;
  width: 86vw;
}

.main_text {
  color: white;
  font-size: 540%;
  margin-left: 1vw;
  text-shadow: 5 5 .5em white;
  font-family: 'CustomFont', 'bantayogregular';
  margin-bottom: 0%;
  text-transform:none;
  text-shadow:0.07159456em 0.07159456em 0em rgba(255, 255, 255, 0.400000);
  letter-spacing:0em;
  line-height:1.04em;
  width: 100vw;
}

.sub_text {
  font-family: 'CustomFont', 'bantayogregular';
  margin-top: 30vh;
  margin-left: 0%;
  width: 100vw;
  margin-right: 0%;
  overflow-x: scroll;
  text-align: left;
}

.gif {
  float: right;
  display: none;
}

.heads {
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-left: 5%;
    margin-right: 5vw;
    border-radius: 25px;
    overflow-x: hidden;
}


/* Why $MHC */

.section_blue {
margin-top: 5vw;
padding-bottom: 4vw;
margin-left: 5%;
margin-right: 5vw;
border-radius: 25px;
column-count: 2;
background-color: white;
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
height: 80vh;;
width: 86vw;
position: sticky;
}

.title_blue {
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
color: #3F72AF;
display: block;
background-color: #3F72AF;
margin-top: 0%;
padding-top: 0%;
width: fit-content;
text-align: center;
margin-left: 2vw;
margin-top: 2vw;
z-index: 1;
padding-left: 1vw;
padding-right: 1vw;
}

.title_blue_text {
color: #7ECCFF;
font-family: 'CustomFont', 'bantayogregular';
z-index: 1;
}

.text_black {
font-family: 'CustomFont', 'bantayogregular';
font-weight: lighter;
width: 95%;
margin-left: 2vw;
font-size: 23px;
text-align: center;
}

.img_right {
margin-left: 5%;
margin-top: 6vw;
}


/* Meet the creators */
.title_center {
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
color: #3F72AF;
display: block;
background-color: #3F72AF;
width: fit-content;
padding: 0.5vw;
padding-left: 2vw;
padding-right: 2vw;
text-align: center;
margin-top: 0.1vw;
margin-left: 35vw;
margin-right: 35vw;
}

.section_meet {
background-color: white;
width: 86vw;
margin-top: 5vw;
padding-bottom: 0vw;
margin-left: 5%;
margin-right: 5vw;
border-radius: 25px;
column-count: 2;
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
height: 84vh;
width: 86vw;
background-color: white;
}

.text_meet {
font-family: 'CustomFont', 'bantayogregular';
font-weight: lighter;
width: 100vw;
margin-left: 0vw;
font-size: 20px;
text-align: center;
margin-left: 7vw;
margin-top: 10vw;
display: block;
text-align: center;
}

/* Where We donate */

.text_donate {
font-family: 'CustomFont', 'bantayogregular';
font-weight: lighter;
width: 95%;
margin-left: 2vw;
font-size: 20px;
text-align: center;
}


/* Road Map */

.section_road {
width: 86vw;
background-color: white;
margin-top: 5vw;
padding-bottom: 0vw;
margin-left: 5%;
margin-right: 5vw;
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
height: auto;
}

.roadmap_img {
margin-left: 2vw;
}


/*ICO and Podcast Code*/

.ico_pod {
margin-top: 5vw;
margin-left: 5%;
border-radius: 50px;
margin-bottom: none;
display: block;
overflow: hidden;
height: 84vh;;
width: 88vw;
}

.ico {
width: 86vw;
background-color: white;
padding-bottom: 0vw;
margin-right: 5vw;
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
height: auto;
width: 36vw;
height: 38vw;
float: left;
}

.pod {
width: 86vw;
background-color: white;
padding-bottom: 0vw;
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
height: auto;
width: 36vw;
height: 38vw;
float: right;
position: absolute;
margin-left: 50%;
}

.title_half {
border-radius: 50px;
margin-bottom: none;
border-color: #3F72AF;
border-style: solid;
color: #7ECCFF;
display: block;
background-color: #3F72AF;
margin-top: 0%;
padding: 1vw;
width: fit-content;
text-align: center;
margin-top: 0.1vw;
text-align: center;
margin-left: 15vw;
}

.ico_text {
font-size: 180%;
width: 30vw;
margin-left: 2vw;
}

.pod_text {
font-size: 180%;
width: 30vw;
margin-left: 2vw;
}

li {
margin-left: 2vw;
font-size: 30px;
}

a {
color: white;
}

/* Footer Code */

footer {
background-color: #3F72AF;
padding-bottom: 0vw;
border-radius: 50px;
border-color: #3F72AF;
border-style: solid;
border-width: 20px;
display: block;
overflow: hidden;
width: 86vw;
height: 200px;
float: left;
margin-top: 5vw;
margin-left: 5%;
margin-bottom: 1vw;
}

.footer-image {
margin-left: 90%;
}

.footertext {
text-align: center;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 0px;
color: white;
font-family: 'CustomFont', 'bantayogregular';
font-size: 120%;
}

/*Button Code*/
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  width: 30vw;
  height: 7vh;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}


.button_2 {
  display: none;
}

.button_2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button_2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button_2:hover {
  color: #fff;
}
.button_2:hover:before {
  width: 100%;
}


@font-face {
font-family: 'bantayogregular';
src: url('bantayog-regular-webfont.woff2') format('woff2'),
    url('bantayog-regular-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}